* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    width: 60px;
    height: 60px;
    border: 2px solid red;
    transition: width 0.5s, background 1s;
}

.tile:hover {
    width: 100px;
    background: red;
}